body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

#game {
    display: flex;
    width: 100%; /* Make sure the game div takes the full width */
}

#leftHalf, #rightHalf {
    flex: 1; /* Each half takes up equal width */
    height: 100vh;
    overflow: hidden;
    border-right: 2px solid #ccc;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
